<div id="what-is-this">
  <button class="close">&times;</button>
  <article>{{{wording}}}</article>
</div>
<script>
  var witLink = document.querySelector('.what-is-this');
  var witBox = document.getElementById('what-is-this');
  var witClose = witBox.querySelector('button.close');
  witLink.onclick = function() {
    witBox.className = "visible";
  };
  witClose.onclick = function() {
    witBox.className = "";
  };
</script>
